
@import 'mixins';



$primary-color: #b70f0f;

.title{
    color:$primary-color;

    a{color: $primary-color;text-align: center;}
}




@include mobile(){
    .title{
        color: $primary-color;
    }
}










